@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    background: #2C2C2C;
}

.title{
    padding: 50px 0;
}

.title p{
    font-size: 30px;
    color: white;
    text-align: center;
}

.timer{
    background: #626262;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    border-radius: 10px;
}

.timer p{
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 3%;
}

.timer h2{
    padding-bottom: 50px;
    padding-top:50px;
    font-weight: 400;
    font-size: 50px;
    color: white;
    text-align: center;
}

.button-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
}

.start-stop-button{
    width: 20%;
    padding-right: 2%;
}

.start-stop-button button{
    width: 100%;
    height: 35px;
    max-width: 100px;
    border-radius: 10px;
    background: linear-gradient(100.13deg, #58E641 0%, rgba(84, 201, 64, 0.788324) 21.17%, rgba(38, 243, 157, 0.534833) 46.52%, rgba(0, 233, 248, 0.276655) 72.33%, rgba(0, 133, 255, 0) 100%), #298F2D;
}

.reset-button{
    width: 20%;
    padding-left: 2%;
}

.reset-button button{
    width: 100%;
    height: 35px;
    max-width: 100px;
    border-radius: 10px;
    background: linear-gradient(100.13deg, #F96767 0%, rgba(245, 71, 15, 0.788324) 21.17%, rgba(222, 54, 54, 0.534833) 46.52%, rgba(255, 200, 135, 0.276655) 72.33%, rgba(250, 255, 0, 0) 100%), #FF0000;
}


.time-adjust{
    background: #626262;
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 10px;
}   


.session-box{
    width: 10%;
    display: inline-block;
}

.session-box h2{
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 3%;
}

.break-box{
    width: 10%;
    display: inline-block;
}

.break-box h2{
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 3%;
}


.session-adjust-min{
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
}

.session-adjust-min h2{
    font-size:17px;
    padding-left: 2%;
}   

.break-adjust-min{
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
}

.break-adjust-min h2{
    font-size: 17px;
    padding-left: 2%;
}

.session-adjust-seg{
    display: flex;
    flex-direction: row;
    padding-bottom: 7%;
}

.session-adjust-seg h2{
    font-size: 17px;
    padding-left: 2%;
}

.break-adjust-seg{
    display: flex;
    flex-direction: row;
    padding-bottom: 7%;
}

.break-adjust-seg h2{
    font-size: 17px;
    padding-left: 2%;
}